* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/2022-01-19.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 750px;
    background: rgba(0, 0, 0, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    color: #000000;
    padding: 40px 35px 55px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
}

.input-box .input-field {
    position: relative;
    width: 45%;
    height: 50px;
    background: transparent;
    margin: 13px 0;
}


.input-box .input-field input {
    width: 110%;
    height: 110%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #000000;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
    color: #000000;
}

.input-box .input-field ion-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.wrapper label input {
    accent-color: #ffffff;
    margin-right: 5px;
}

.wrapper .btn {
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    margin-left: 24vh;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    width: 29px;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #dae2da;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 16px 1px rgb(0, 0, 0, 0.24);
    box-shadow: inset 0px 0px 16px 1px rgb(0, 0, 0, 0.24);
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
}

input:checked[type="checkbox"] {
    background-color: #28eb17;
}

input[type="checkbox"]:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #EDF3F1;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 0px 4px 8px 1px rgb(0, 0, 0, 0.25);
    box-shadow: 0px 4px 8px 1px rgb(0, 0, 0, 0.25);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    top: 0;
    left: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked[type="checkbox"]::before {
    left: 20px;
}